<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>CatBond</h1>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-bars"></i> Menu for {{ctl.user.role}}</div>
        <div class="panel-body">
          <ul ng-if="ctl.user.role === 'issuer'" class="list-inline">
            <li><a ui-sref="demo.issuerContractList" ui-sref-active="menu-active">Contracts</a></li>
            <li><a ui-sref="demo.bondList" ui-sref-active="menu-active">Bonds</a></li>
          </ul>
          <ul ng-if="ctl.user.role === 'investor'" class="list-inline">
            <li><a ui-sref="demo.investorContractList" ui-sref-active="menu-active">Contracts</a></li>
            <li><a ui-sref="demo.investorTradeList" ui-sref-active="menu-active">Trades</a></li>
            <li><a ui-sref="demo.market" ui-sref-active="menu-active">Market</a></li>
          </ul>
          <ul ng-if="ctl.user.role === 'auditor'" class="list-inline">
            <li><a ui-sref="demo.auditorContractList">Contracts</a></li>
            <li><a ui-sref="demo.auditorBondList">Bonds</a></li>
            <li><a ui-sref="demo.auditorTradeList">Trades</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-user"></i> Logged in User</div>
        <div class="panel-body">
          <select class="form-control" ng-model="ctl.user"
          ng-options="u.id for u in ctl.users"
          ng-change="ctl.setUser()"></select>
        </div>
      </div>
    </div><!-- /column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Oracle</div>
        <div class="panel-body">
          <ul class="list-inline">
            <li><a target="_blank" ui-sref="oracles">Oracles</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /column -->
  </div><!-- /row -->
  <div class="row">
    <div class="col-md-12">
      <ui-view/>
    </div><!-- /column -->
  </div><!-- /row -->
</div>
