<table class="table">
  <thead>
	  <tr>
      <th>contract</th>
	    <th>seller</th>
      <th>price</th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="o in ctl.list">
      <td><a href ng-click="ctl.open(o)">{{o.contractId}}</a></td>
      <td>{{o.sellerId}}</td>
      <td>{{o.price}}</td>
	  </tr>
  </tbody>
</table>

<script type="text/ng-template" id="buy-contract-modal.html">
<div class="modal-header">
<h3 class="modal-title">Buy Contract</h3>
</div>
<form name="modalForm">
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>contract</dt>
    <dd>{{ctl.trade.contractId}}</dd>
    <dt>seller</dt>
    <dd>{{ctl.trade.sellerId}}</dd>
    <dt>price</dt>
    <dd>{{ctl.trade.price}}</dd>
    <dt>trade id</dt>
    <dd>{{ctl.trade.id}}</dd>
  </dl>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" 
ng-click="ctl.ok()" ng-disabled="modalForm.$invalid">Buy</button>
<button class="btn btn-warning" type="button" ng-click="ctl.cancel()">Cancel</button>
</div>
</form>
</script>