<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>CatBond</h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Current Date</div>
        <div class="panel-body" ng-click="ctl.tick()" ng-dblclick="ctl.clock()">
          <h5>{{ctl.now() | date:'longDate'}}</h5>
        </div>
      </div>
    </div><!-- /column -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Oracle</div>
        <div class="panel-body">
          <ul class="list-inline">
            <li><a ui-sref="oracles.transfers">Payment Oracle</a></li>
            <li><a ui-sref="oracles.triggers">Catastrophe Oracle</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /column -->
  </div><!-- /row -->
  <div class="row">
    <div class="col-md-12">
      <ui-view/>
    </div><!-- /column -->
  </div><!-- /row -->
</div>
